@charset "utef-8";

body{
    margin:0;
    padding:0;
}
header{
	position: fixed;
	z-index: 10;
    width:100%;
    height:66px;
    background:#fff;
    border-top:4px solid #0054a7;
}
header li{
	color: #0054a7;
	display:inline-block;
	margin:10px auto 40px 20px;
	vertical-align: middle;
}
header nav a{
	color: blue;
	margin-left: 30px;
	margin-right:20px;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
	list-style: none;
}
.inner{
    max-width:980px;
    margin:auto;
    padding-top:22px;
}
main{
    max-width:980px;
    margin:auto;
}
main h2{
    text-align:center;
}
main h2 img{
    max-width:100%;
}
.movie{
    z-index: 0;
    width:100%;
    height:407px;
    text-align:center;
    padding-top:60px;
}
footer{
    width:100%;
    height:140px;
    background:#999;
}
/* 体験授業
-----------------------------------------------*/
.taikenCont{
	background:url(/img/oc/bg_dot.gif) repeat 0 0;
}
.courseBox{
	width:980px;
	margin:0 auto;
	padding-top:52px;
	background:url(/img/oc/bg_taiken_illust.png) no-repeat 0 49px;
}
.courseBox h2{
	text-align:center;
}
.courseBox .innerCont{
	margin-top:40px;
}
.courseBox .courseTit{
	position:relative;
}
.courseTit li{
    list-style:none;
	position:absolute;
}
.courseTit li.system{ top:-17px; left:-16px; }
.courseTit li.business{ top:-17px; left:320px; }
.courseTit li.design{ top:-17px; left:654px; }

.courseBox .innerCont .add{
    list-style:none;
	margin-top:-10px;
}
.courseBox .innerCont .add li{
	padding-left: 1.3em;
	text-indent: -1.3em;
	font-size:12px;
	padding-bottom:3px;
}
.courseBox .innerCont .add li a{
    text-decoration: underline;
}

.taikenList{
	width:1005px;
	margin-right:-25px;
	overflow:hidden;
	clear:both;
}

.taikenList > li{

	width:310px;
	background:#fff;
	border-radius:8px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	box-shadow:rgba(28, 69, 87, 0.08) 0px 2px 2px 1px;
	-webkit-box-shadow:rgba(28, 69, 87, 0.08) 0px 2px 2px 1px;
	-moz-box-shadow:rgba(28, 69, 87, 0.08) 0px 2px 2px 1px;
	overflow:hidden;
	float:left;
	margin:0 25px 30px 0;
}
.taikenList li .title{
	position:absolute;
	left:-16px;
	top:-17px;
}
.taikenList li .img{
	width:296px;
	margin:7px 7px 0 7px;
}
.taikenList li p{
	color:#666;
	margin:16px 20px 0;
	letter-spacing:0.5px;
	text-align:justify;
}
.taikenList li p span{
	display:block;
	font-weight:bold;
	color:#333;
	margin:4px 0 -3px;
}
.taikenList li dl{
	margin:8px 20px 15px;
	background:url(img/line_dot_1.gif) repeat-x 0 0;
	padding-top:14px;
}
.taikenList li dt{
	margin-bottom:4px;
}
.taikenList li dl li{
	font-weight:bold;
	line-height:1.4;
}
.taikenList li dl li span{
	font-size:12px;
	font-weight:normal;
}
/* 三大特典
-----------------------------------------------*/
.tok{
	display:flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.tokutenBox{
	width:974px;
	padding:0 3px 40px;
	margin:15px auto 0;
	background:url(img/bg_tokuten.png) no-repeat 0 39px;
	min-height:601px;

}
.tokutenBox h2{
	text-align:center;
}
.tokutenBox ul{
    list-style:none;
	overflow:hidden;
	clear:both;
	margin-top:34px;
}
.tokutenBox li{
	width:240px;
	float:left;
	padding:0 29px 0 30px;
	background:url(img/line_dot_2.gif) repeat-y 0 0;
	border-right: 3px dotted #0054a7;
}
.tokutenBox li:first-child{
	background:none;
}
.tokutenBox li .tokutenTit{
	text-align:center;
}
.tokutenBox li h3{
	font-size:22px;
	font-weight:bold;
	line-height:1.3;
	padding:16px 0 6px;
	height:59px;
	display:table-cell;
	vertical-align:middle;
}
.tokutenBox li h3 small{
	font-size:13px;
}
.tokutenBox li h3 span{
	color:#0054a7;
}
.tokutenBox li p{
	color:#666;
	letter-spacing:0.5px;
}
.tokutenBox li p span{
	font-size:12px;
}
.tokutenBox li a{
	font-weight:bold;
	background:url(img/icn_arrow.png) no-repeat 0 5px;
	padding:0 0 0 17px;
	color:#333;
	display:inline-block;
	margin-top:4px;
	text-decoration:underline;
}
.scheduleCont li{
    list-style: none;
}
.clock img{
	float: left;
	overflow: hidden;
}
.tokutenBox:last-child{
	border-right: 0px;
}
/*<Q&A>*/
.qq{
	max-width:980px;
	margin:auto;
}
.qq p{
	font-weight: bold;
	font-size:25px;
}
.qq span{
	padding-right: 20px;
}
.qq .q{
	color:blue;
}
.qq .a{
	color:red;
}
/*申し込み*/
.can{
	font-size:40px;
}